* {
    margin: 0px;
    padding: 0px;
}

.main-content {
    box-sizing: border-box;
    background-color: aqua;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

nav {
    box-sizing: border-box;
    background-color: blueviolet;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.hermanitos {
    height: 20px;
    width: 20px;
    margin: 20px;
    background-color: dodgerblue;
}

.content {
    background-color: dimgray;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.news {
    box-sizing: border-box;
    background-color: yellow;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.activity {
    box-sizing: border-box;
    flex: 1;
    border: 6px solid red;
}
